nomkl==3.0
ipython==5.3.0
ipywidgets==6.0.0
pandas==0.19.2
numexpr==2.6.7
matplotlib==2.0.2
scipy==0.19.1
seaborn==0.7.1
scikit-learn==0.18.2
scikit-image==0.12.3
sympy==1.0*
cython==0.25*
patsy==0.4*
statsmodels==0.8*
cloudpickle==0.2*
dill==0.2*' 
numba==0.31*
bokeh==0.12*
hdf5==1.8.17
h5py==2.6*
sqlalchemy==1.1*
pyzmq
vincent==0.4.*
beautifulsoup4==4.5.*
xlrd

